*{
    color: red;
}
body{
    display: flex;
    flex-direction: column;
}
.list-messages{
    height: 200px;
    width: 300px;
    background-color: blanchedalmond;
    margin-bottom: 20px;

}