<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div>
      <div id="list-messages" class="list-messages"></div>
      <div class="form-message">
        <input id="message" type="text" />
        <h1>Hello</h1>
        <button id="btnSend">send</button>
      </div>
    </div>

    <script type="module">
      import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";
      const socket = io("http://localhost:3000/");

      const handleSendMessage = () => {
        const message = document.getElementById("message").value;
        console.log(message);
        socket.emit("client-send-message", message);
      };

      socket.on("server-send-message", (data) => {
        console.log(data);
        document
          .getElementById("list-messages")
          .append(`${data.id}-${data.data}`);
      });

      document.getElementById("btnSend").onclick = handleSendMessage;
    </script>
  </body>
  <script src="https://cdn.socket.io/4.4.1/socket.io.esm.min.js"></script>
</html>
